section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;


    padding: 16px;
    margin: 100px;

}

article {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: whitesmoke;
    padding: 16px;
}

.hot {
    background: radial-gradient(circle, rgba(214, 195, 142, 0.1) 0%, rgb(224, 173, 52) 100%);
}

.cold {
    background: radial-gradient(circle, rgba(223, 130, 9, 0.1) 0%, rgb(122, 122, 222) 100%);

}

.title {
    font-weight: bold;
    font-size: 33.18px;
}

h2 {
    text-align: center;
    font-size: 40.18px;}